@mixin list {
    min-width: 385px;
    max-width: 600px;
    height: 75vh;
    border: $border-weight solid $text-color;
    border-radius: $border-radius;
    background-color: $background-overlay;
    margin: 20px;
    flex-grow: 1;
}