//colors
$main-color: #290029;
$light-color: #ff00ff;
$darker-color: #2d012d;
$accent-color: #fff;
$background-overlay: #00000040;

//borders
$border-weight: 2px;
$border-radius: 5px;

//typography
$text-color: $accent-color;